.form__button {
    background-color: rgb(217, 177, 255);
    padding: 10px;
    margin: 5 auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}

.form__button:hover {
    background-color: rgb(197, 141, 250);   
}

.form__button:active {
    background-color: rgb(164, 85, 238);
}